.main {
  display: grid;
  grid-template-columns: minmax(660px, 3fr) minmax(280px, 1fr);
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding: 0 calc(var(--padding) * 3);
  padding-left: calc((100% - 1440px) / 2);
  padding-right: calc((100% - 1440px) / 2);
}

.main>*:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}