.wrapper {
  display: block;
  width: 100%;
  overflow: auto;
}

.email-wrapper {
  display: block;
  width: 100%;
  min-height: calc(100vh - 81px);
  overflow: auto;
  /* background-color: #fafafa; */
}