.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 64px;
  margin: var(--padding) 0;
  padding: calc(var(--padding));
  background-color: #ffffff;
  border-radius: var(--padding);
  cursor: move;
  outline-color: transparent;
  transition: outline-color 0.4s ease;
}

.wrapper:hover {
  outline: 2px solid rgba(173, 255, 47, 0.4);
  transition: outline-color 0.4s ease;
}

.wrapper.dragged {
  outline: 2px solid rgba(173, 255, 47, 0.8);
  transition: outline-color 0.4s ease;
}

svg {
  width: 30px;
  height: auto;
  opacity: 0.8;
}

.desc {
  display: block;
  width: 100%;
  margin: 0;
  padding: calc(var(--padding) / 2);
  font-size: 13px;
  line-height: 1;
  text-align: center;
}